@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&family=Montserrat&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    font-family: 'Londrina', sans-serif;
}

#title a {
	text-decoration: none;
}

h1 {
    letter-spacing: 3px;
    color: #e35c27;
}

/*---Header---*/
header{
    display: inline;
}


nav {
    display: inline-flex;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    padding: 5px, 0px, 5px, 30px;
}

#nav li {
	float: none;
	margin-right: 5px;
	display: inline;
	text-align: center;
}

#nav a {
    text-decoration: none;
	color: #e35c27;
	margin: 5px;
	padding: 5px;
	text-transform: uppercase;
}

#nav a:hover {
	color: #e35c27;
	transition: 0.1s;
	border-top: 2px solid #e35c27;
	border-bottom: 2px solid #e35c27;
    text-transform: uppercase;
}

/*---*/
#main-div {
    text-align: center;
}

#main-div p {
    width: 50%;
    margin: auto;
}



/*---Footer ---*/
.social-icons {
	font-size: xx-large;
	margin: 10px;
	display: inline;
	margin-top: 10px;
	color: black;
}