@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&family=Montserrat&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/golanza.png);
    background-position: center center;
	background-size: cover;
    background-color: #f9f9f9
}

/*---Headings---*/

#title {
    font-family: 'Londrina', sans-serif;
}

#title a {
	text-decoration: none;
}

h1 {
    letter-spacing: 10px;
    color: #e35c27;
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 10px;
    color: #e35c27;
}


header{
    display: inline;
}

/*---Nav---*/

#nav {
    display: inline-flex;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 0px 0px 5px
}

#nav li {
	float: right;
	margin-right: 5px;
	display: inline;
	text-align: center;
}

#nav a {
    text-decoration: none;
	color: #e35c27;
	text-transform: uppercase;
}

#nav a.active {
    background: #e35c27;
    color: #f9f9f9;
}

#nav a:hover {
	color: #e35c27;
	transition: 0.1s;
	border-top: 1px solid #e35c27;
    text-transform: uppercase;
}

/*---body---*/
.main-div {
    text-align: center;
}

.main-div p {
    margin: 15px;
    margin-bottom: 20px;
}

/*three sections*/

.food-div {
    background-color:rgba(255, 255, 255, 0.5);
    border: solid black;
    margin-top: 25px;
    text-align: center;
}
.visit-div {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid black;
    margin-top: 25px;
    text-align: center;
}
.gem-div {
    background-color: rgba(255, 255, 255, 0.5);;
    border: solid black;
    margin-top: 25px;
    text-align: center;
}

.card-icon {
    margin: 5px;
    
}




/* Description Div for each page */
.description-div {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
    border: solid black;
    margin: 15px
}

/*---Footer ---*/
.social-icons {
	font-size: 50px;
	margin: 30px;
	color: white;
}

.icon-div{
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.icon-div a {
    text-decoration: none;
}


.icon-div i:hover{
    color: #d9534f;
	transition: 0.1s;
}

/*-- Google Map API ---*/
#map {min-height: 360px;
    margin: 15px
}


/*--img carousal ---*/
.carousel-caption {
    background: rgba(255, 255, 255, 0.75);
    color: black;
}

.carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    position: relative;
    width: 400px;
    overflow: hidden;
    }
  
  .carousel-img {
    align-items: center;
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
    }
  
  img {
    border-radius: 5px;
    height: 400px;
    width: 400px;
    }
  
  .active {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    height: 400px;
    width: 400px;
    z-index: 1;
    }
  
  .carousel__button  {
    background: #d9534f;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
    }
  
  .previous {
    left: 5px;
    }
  
  .next {
    right: 5px;
    }
  
  .carousel__button:hover {
    opacity: 0.8;
    }
    

/*---enquire.html ----*/

#contact-form {
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    max-height: 550px;
    }

/*--- BODY FADE IN ---*/

.fade-out {
    opacity: 0; 
    }

.fade-transition {
    transition-property: opacity; 
    transition-duration: 2s; 
    }

#footer {
    margin-top: 15px;
}

