@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&family=Montserrat&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/golanza.png);
    background-position: center center;
	background-size: cover;
}

#title {
    font-family: 'Londrina', sans-serif;
}

#title a {
	text-decoration: none;
}

h1 {
    letter-spacing: 10px;
    color: #e35c27;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 10px;
    color: #e35c27;
}

/*---Header---*/
header{
    display: inline;
}


nav {
    display: inline-flex;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px, 0px, 0px, 10px;
}

#nav li {
	float: none;
	margin-right: 5px;
	display: inline;
	text-align: center;
}

#nav a {
    text-decoration: none;
	color: #e35c27;
	margin: 5px;
	text-transform: uppercase;
}

#nav a:hover {
	color: #e35c27;
	transition: 0.1s;
	border-top: 1px solid #e35c27;
	border-bottom: 1px solid #e35c27;
    text-transform: uppercase;
}

/*body*/
.main-div {
    text-align: center;
}

.main-div p {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

/*three sections*/
.three-sections button{
    position: relative;
    clear: both;
    margin:0 auto
}

.food-div {
    background-color:rgba(255, 255, 255, 0.5);
    border: solid black;
}
.visit-div {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid black;
}
.gem-div {
    background-color: rgba(255, 255, 255, 0.5);;
    border: solid black;
}


/*---Footer ---*/
.social-icons {
	font-size: 50px;
	margin: 30px;
	display: inline;
	margin-top: 10px;
	color: white;
    
}

.icon-div{
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.icon-div a {
    text-decoration: none;
}


.icon-div i:hover{
    color: #d9534f;
	transition: 0.1s;
}

/*-- Google Map API ---*/
#map {min-height: 360px;}

/*--img carousal ---*/
.carousel-wrapper {
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}